body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #F0EBE1;
}
header {

    padding: .8rem 4rem;
    text-align: center;
    display: flex;
justify-content: space-around;
position: fixed;
top: 0;
left: 0;
z-index: 1000;
background-color: #000;
width: 100%;
color: #F0EBE1;
}
.home-con {
    background-image: url('/images/Home.png');
    background-size: cover; /* Cover the whole section */
    background-repeat: no-repeat; /* Prevent repeating */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
    margin-top: 80px; /* Adjust based on header height */
}
.home-con h1 {
    font-size: 6rem;
    margin: 0;
   letter-spacing: 7px;
}
.home-con h3 {
    font-size: 2rem;
    margin: 0;
}
.home-con a {
    background-color: transparent;
    border: 1px solid #F0EBE1;
    padding: .8rem 5rem;
    color: #F0EBE1;
    margin-top: 5rem;
    font-size: 1.2rem;
text-decoration: none;
}









.container {
    width: 80%;
    margin: 0 auto;
}
header h1 {
    margin: 0;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #9b59b6;
}

section {
    padding: 2rem 0;
}

h2 {
    border-bottom: 2px solid #9b59b6;
    padding-bottom: 0.5rem;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.skills-list li {
    background-color: #333;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.skills-list li i {
    margin-right: 0.5rem;
}

.project {
    margin: 1rem 0;
}

.project a {
    color: #9b59b6;
    text-decoration: none;
    transition: color 0.3s;
}

.project a:hover {
    color: #fff;
}

.testimonial {
    background-color: #333;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}
